export(HotNet)
export(ReactomeFINetwork)
export(ReactomeFIService)
exportMethods("fis<-")
exportMethods("modules<-")
exportMethods(annotate)
exportMethods(annotateModules)
exportMethods(build)
exportMethods(cluster)
exportMethods(fis)
exportMethods(modules)
exportMethods(plot)
exportMethods(queryAnnotateGeneSet)
exportMethods(service)
exportMethods(subnet)
import(RCurl)
import(XML)
import(ggplot2)
importFrom(plyr,.)
importFrom(plyr,ddply)
importFrom(sna,gplot.layout.adj)
importFrom(sna,gplot.layout.circle)
importFrom(sna,gplot.layout.circrand)
importFrom(sna,gplot.layout.eigen)
importFrom(sna,gplot.layout.fruchtermanreingold)
importFrom(sna,gplot.layout.geodist)
importFrom(sna,gplot.layout.hall)
importFrom(sna,gplot.layout.kamadakawai)
importFrom(sna,gplot.layout.mds)
importFrom(sna,gplot.layout.princoord)
importFrom(sna,gplot.layout.random)
importFrom(sna,gplot.layout.rmds)
importFrom(sna,gplot.layout.segeo)
importFrom(sna,gplot.layout.seham)
importFrom(sna,gplot.layout.spring)
importFrom(sna,gplot.layout.springrepulse)
importFrom(sna,gplot.layout.target)
