export(HotNet)
export(ReactomeFINetwork)
export(ReactomeFIService)
exportMethods("fis<-")
exportMethods("modules<-")
exportMethods(annotate)
exportMethods(annotateModules)
exportMethods(build)
exportMethods(cluster)
exportMethods(fis)
exportMethods(modules)
exportMethods(queryAnnotateGeneSet)
exportMethods(service)
import(RCurl)
import(XML)
